.row > div {
    margin: 1em 0;
    border-bottom: 0.1em solid #000;
    padding-bottom: 1em;
}

.label {
    background-color: #000;;
    color: #fff;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
}

.sel {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(85,10,10,1);
-moz-box-shadow: 0px 0px 10px 1px rgba(85,10,10,1);
box-shadow: 0px 0px 10px 1px rgba(85,10,10,1);
}

.react-monaco-editor-container {
    display: none;
}

.settings {
    position: absolute;
    right: 0.5em;
    top: 0.1em;
    display: block;
    height: 1.8em;
    border-left: 0.1em solid #fff;
    padding-left: 0.3em;
    line-height: 1.8em;
    cursor: pointer;
}

.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.fog {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.settings-content {
    width: 20em;
    margin: calc(50vh - 6em) auto;
    background-color: #fff;
    position: relative;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.settings-content .label {
    background-color: rgb(85, 10, 10);
}

.keke {
    padding: 0.5em;
    border: 0.2em solid rgb(85, 10, 10);
}

.code > textarea {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    border: none;
    padding: 0.5em;
    color: #fff;
}

.code {
    height: 28.5em;
}

.control > div {
    padding: 0.3em;
    text-align: center;
    background-color: rgb(85, 10, 10);
    color: #fff;
    margin: 0.5em 0;
    position: relative;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.log {
    border: 0.1em solid #000;
}

.logs {
    position: relative;
    min-height: 6.4em;
}

.log-content {
    width: calc(100% - 2rem);
    padding: 0.3em;
    max-height: 8.5em;
    overflow-y: auto;
    font-size: 0.75em;
}

.log-settings {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
}

.log .fa-broom {
    position: absolute;
    top: 0.3em;
    right: 0.6em;
}

.log-settings i {
    display: block;
    text-align: center;
    padding: 0.3em;
}

.ls-err {
    background-color: rgb(182, 15, 15);
    color: #fff;
}

.ls-warn {
    background-color: rgb(226, 95, 19);
    color: #fff;
}

.ls-info {
    background-color: rgb(26, 91, 175);
    color: #fff;
}

.ls-exe {
    background-color: rgb(29, 170, 76);
    color: #fff;
}

.logs p {
    margin-bottom: 0;
}

.control {
    margin: 1em 0;
}

.acc::after {
    content: '';
    display: block;
    clear: both;
}

.acc {
    margin: 1em 0;
}

.acc > div {
    width: 45%;
    float: left;
    height: 5.5em;
    margin: 2.5%;
    line-height: 4em;
    text-align: center;
    border: 0.1em solid #000;
}

.log-error {
    color: rgb(190, 30, 30);
}

.log-info {
    color: rgb(10, 75, 161);
}

.memory {
    background-color: rgb(30, 30, 30);
    padding-bottom: 1em;
    min-height: 30em;
}

@media (min-width: 991px) {
    .machine {
        min-height: 30em;
        padding: calc(50vh - 17.25em) 1em;
    }

    .row > div {
        margin: 0;
        border: none;
        padding-bottom: 0;
    }

    .react-monaco-editor-container {
        display: block;
    }

    .code > textarea {
        display: none;
    }
}